h1{
    color: rgb(9, 22, 51);
    text-align: center;
    padding-top: 30px;
    font-size: 50px;
    border-style:dashed;
    padding: 20px;
    border-radius: 10px;
    border-color:rgb(28, 52, 126) ;
}

body{
    background-color: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(139, 247, 229, 1) 100%);;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    text-align: center;
    border-style:solid;
    border-color: rgb(40, 75, 180);
    border-radius: 10px;
    padding: 10px;
    width: max-content;
}

h3{
    text-align: center;
    color: rgb(28, 52, 126);
    font-size: 20px;
}

img{
    align-items: center;
    width: 50%;
}